body {
    background: #855033;

}

header {
    background: #855033;
    height: 190px;
    padding-top: 12px;
    z-index: 9999 !important;
}

header nav {
    background: #855033;
    max-width: 50%;
}

header nav a,
header nav li {
    color: white !important;
}

header nav .container-fluid {
    align-items: end !important;
    justify-content: end !important;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler {
    border: 1px solid white;
}

.logo {
    width: 89px;
    position: absolute;
    right: calc(50% - 40px);
}

main {
    margin-top: 190px;
    margin-bottom: 110px;
}

main .card {
    margin-bottom: 20px;
    border-radius: 26px;
}


#cafes {
    margin-top: 180px;
}

.logo_cafe {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.cafe_toolbar {
    background: url(../images//padraocafe.png);
    padding: 8px;
    display: inline-block;
    color: white;
    border-radius: 10px;
    width: 98%;
    font-size: 120%;
    margin-bottom: 20px;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 191px;
}

.cafe_toolbar button {
    margin-right: 10px;
}

.btn-whatsapp {
    background-image: url("../images/whatsapp-icon.png");
    background-repeat: no-repeat;
    background-size: 32px;
    background-position: 10px 2px;
    text-indent: 30px;
}

#cafes_content {
    margin-top: 264px;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;

}

.container_cafe {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.image_cafe{
    width: 100%;
    border-radius: 29px;
}

#cafes {
    display: none;
}

.btn-purple {
    background-color: #694a84;
    border-color: blueviolet;
}

.btn-purple:active {
    background-color: blueviolet;
}

footer {
    background: url(../images//padraocafe.png);
    padding: 10px;
    text-align: center;
}

.coffee:nth-child(even) .card {
    background: #B1734D;
    color: white;

}

.coffee:nth-child(odd) .card {
    background: #87C1CF;
    color: white;
}

.favoritos,
.instalar {
    border-radius: 26px;
    background-color: white;
}

.favoritos:hover,
.instalar:hover,
.btn-conhecer-mais:hover {
    background-color: #855033;
    opacity: 80%;
    color: white;

}

.coffee {
    padding-left: 26px;
    padding-right: 26px;
}

.btn-conhecer-mais {
    background: #ffcc79;
}